<!DOCTYPE html>
    <head>
        <title>Etch-a-sketch Control</title>
        <link rel="stylesheet" href='../static/style.css'/>
    </head>
    <body>
        <h3>Grid</h3>
            <div style="display: grid;grid-template-columns: auto auto auto auto auto auto auto auto; grid-template-rows: auto auto auto auto auto auto auto auto;background-color: black;padding: 5px;gap: 5px;">
                    <div style="background-color: {{color0}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color1}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color2}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color3}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color4}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color5}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color6}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color7}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color8}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color9}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color10}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color11}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color12}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color13}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color14}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color15}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color16}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color17}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color18}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color19}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color20}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color21}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color22}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color23}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color24}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color25}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color26}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color27}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color28}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color29}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color30}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color31}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color32}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color33}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color34}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color35}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color36}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color37}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color38}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color39}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color40}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color41}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color42}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color43}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color44}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color45}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color46}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color47}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color48}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color49}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color50}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color51}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color52}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color53}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color54}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color55}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color56}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color57}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color58}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color59}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color60}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color61}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color62}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>
                    <div style="background-color: {{color63}};border: 1px solid rgba(0, 0, 0, 0.8);padding: 20px;"></div>              
            </div>
            <h3> Commands </h3>
                <p>
                    Move: 
                    <a href="/move/left" class="button">left</a>,
                    <a href="/move/up"class="button">up</a>,
                    <a href="/move/down"class="button">down</a>,
                    <a href="/move/right"class="button">right</a>
                </p>
                <p>
                    Color: 
                    <a href="/color/Green" class="button">green</a>,
                    <a href="/color/Orange"class="button">orange</a>,
                    <a href="/color/Red"class="button">red</a>
                </p>
                <p>
                    <a href="/control/erase"class="button">Erase</a>
                </p>
    </body>
</html>